server:
  port: 9487
  
spring:
  application:
    name: infra-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
cipher:
  aes:
    key: ${AES_KEY}
    iv: ${AES_IV}

logging:
  level:
    com.springframework.*: debug
    com.heloword.*: debug
