eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://micro-infra-discovery.default.svc.cluster.local:8761/eureka
    enabled: true

cipher:
  aes:
    key: ${AES_KEY}
    iv: ${AES_IV}

spring:

  security:
    filter:
      order: 10

  datasource:
    url: ${HELO_DB_URL}
    username: ${HELO_DB_USERNAME}
    password: ${HELO_DB_PASSWORD}

  redis:
    host: ${HELO_REDIS_URL}
    password: ${HELO_REDIS_PASSWORD}
    port: ${HELO_REDIS_PORT}

  jpa:
    show-sql: false
    hibernate:
      dialect: org.hibernate.dialect.MySQL55Dialect
      ddl-auto: none


